In [1]:
print("welcome")

welcome

# HEADING

# TEXT FORMATS

*Python*
**PYTHON**
***PYTHON***

## PYTHON
- a high level programming language
- versions:
    - 2
    - 3

In [2]:
dir("keywords")

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [3]:
help("join")

No Python documentation found for 'join'.
Use help() to get the interactive help utility.
Use help(str) for help on the str class.

In [4]:
help(str.join)

Help on method_descriptor:

join(self, iterable, /)
    Concatenate any number of strings.

    The string whose method is called is inserted in between each given string.
    The result is returned as a new string.

    Example: '.'.join(['ab', 'pq', 'rs']) -> 'ab.pq.rs'

In [5]:
help(list.append)

Help on method_descriptor:

append(self, object, /)
    Append object to the end of the list.

In [11]:
a=10
print(a)
a=10.909
print(a)
a='NEC'
print(a)

10
10.909
NEC

'NEC'

## MULTI VARAIBLE ASSIGNMENT

In [12]:
x=y=z=9
print(z)
print(y)
print(x)

9
9
9

In [14]:
x,y,z=9,'8',7
print(x)
print(y)
z

9
8

7

## DATA TYPES
- int 
- float
- str

In [16]:
x,y=9,8
print(x,y)

9 8

In [20]:
p=9
k='NEC'
o=9.99
print(p,k,o,sep=',')
print(type(p))

9,NEC,9.99
<class 'int'>

In [50]:
s=int(input('enter a number'))
float(s)

enter a number44

44.0

In [25]:
t=float(input("ENTER A NUMBER"))
t

ENTER A NUMBER33

33.0

In [31]:
int('123'+'1')

1231

In [33]:
i=1
i

1

In [34]:
i=1
print(i,type(i))
i='str'
print(i,type(i))

1 <class 'int'>
str <class 'str'>

In [36]:
print("hi")

hi

## FUNCTIONS
 - function is a block of statements that are executed 
   to perform a particular task
 - syntax:def name_of_function(arguments)
 - types of functions:
    - user defined
    - pre defined

In [45]:
def add(x,y): #fun defination
    return(x+y)
add(2,3)    #function call

5

In [40]:
add(2,8)

10

In [42]:
add('hi',' welcome')

'hi welcome'

In [47]:
a=2
print('d'*a)

dd

## TYPE CONVERSION
 - str to int
 - str to float
 - int to str
 - int to float
 - float to int
 - float to str

In [53]:
a=int(input())
a

3

3

In [57]:
a=float(input("enter 1st number "))
b=float(input("enter 2nd number"))
c=input("enter operation to perform ")
if(c=='+'):
    print(a+b)
elif c=='-':
    print(a-b)
elif c=='*':
    print(a*b)
elif c=='/':
    print(a/b)
elif c=='%':
    print(a%b)
elif c=='**':
    print(a**b)

enter 1st number 2.2
enter 2nd number2
enter operation to perform +
4.2

In [59]:
a=float(input("enter 1st number "))
b=float(input("enter 2nd number "))
c=float(input("enter 3rd number "))
print("largest number is")
if(a>b and a>c):
    print(a)
elif(b>a and b>c):
    print(b)
else:
    print(c)

enter 1st number 2
enter 2nd number 3
enter 3rd number 4
largest number is
4.0

## OPERATORS
 - it performs a specific operation between the operands
 - types of operators:
    - arthematic:
       - +,-,*,/,%,//
    - logical:
       - or,and
    - relational:
       - <,>,>=,<=,==
    - boolean:
       - True,False
    - membership:
       - in,not in

## CONDITIONAL STATEMENTS
   - if
   - if else
   - elif

In [62]:
a=33
b=11
if a<b:
    print("true")
else:
    print("false")

false

In [70]:
num=int(input("enter a year "))
if (num%400==0) or (num%4==0 and num%100!=0):
    print("LEAP YEAR")
else:
    print("NOT LEAP YEAR")

enter a year 4
LEAP YEAR

# ITERATIVE STATEMENTS
   - for loop
   - while loop
   
## range()
   - syntax:
     - range(single lim)
     - range(lw,up)
     - range(lw,up step_count)
   - by default range starts from 0 if no lower limit is metioned
   - lower limit is included
   - upper limit is excluded

In [6]:
for i in range(20,61,2): # function prints num from 20 to 60 each time incremented by 2
    print(i,end=',')

20,22,24,26,28,30,32,34,36,38,40,42,44,46,48,50,52,54,56,58,60,

In [9]:
rn=range(20,60,2) # here numbers are stored in rn and then printed
for i in rn:
    print(i,end=',')

20,22,24,26,28,30,32,34,36,38,40,42,44,46,48,50,52,54,56,58,

In [12]:
for i in range(50,10,-2):
    print(i,end=',')

50,48,46,44,42,40,38,36,34,32,30,28,26,24,22,20,18,16,14,12,

In [2]:
for i in range(1,5):
    for j in range(1,6):
        print(j,end=' ')
    print()

1 2 3 4 5
1 2 3 4 5
1 2 3 4 5
1 2 3 4 5

In [8]:
n=int(input("enter a number "))
for i in range(n,0,-1):
    for j in range (1,i+1):
        print(j,end=' ')
    print()

enter a number 5
1 2 3 4 5
1 2 3 4
1 2 3
1 2
1

In [11]:
n=int(input("enter a number "))
for i in range(n,0,-1):
    for j in range(i,0,-1):
        print(j,end=' ')
    print()

enter a number 5
5 4 3 2 1
4 3 2 1
3 2 1
2 1
1

In [14]:
n=int(input("enter a number "))
k=0
for i in range(n+1,0,-1):
    for l in range(1,k+1):
        print(' ',end=' ')
    for j in range(1,i):
        print('*',end=' ')
    k=k+1
    print()

enter a number 5
* * * * *
  * * * *
    * * *
      * *
        *

In [22]:
n=int(input("enter a number "))
t=int(input("enter upto where table to print "))
for i in range(1,t+1):
    print(n,"*",i,"=",n*i)

enter a number 6
enter upto where table to print 10
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
6 * 10 = 60

In [33]:

n=int(input("enter a number "))
sum=0
for i in range(1,n):
    if(n%i==0):
        sum=sum+i
if(sum==n):
    print(n,"is a perfect number")
else:
    print(n,"is not a perfect number")

enter a number 6
6 is a perfect number

In [36]:
n=int(input('enter a number '))
flag=0
for i in range(2,n):
    if(n%i==0):
        flag=1
        break
if(flag==0):
    print(n,"is a prime number")
else:
    print(n,"is not a prime number")

enter a number 5
5 is a prime number

In [3]:
n=int(input("enter a up to where to print "))
for num in range(1,n+1):
    sum=0
    for i in range(1,num):
        if(num%i==0):
            sum=sum+i
    if(sum==num):
            print(num)

enter a up to where to print 1000
6
28
496

In [5]:
n=int(input("enter n value "))
for num in range(2,n):
    flag=0
    for i in range(2,num):
        if(num%i==0):
            flag=1
            break
    if(flag==0):
        print(num,end=',')

enter n value 100
2,3,5,7,11,13,17,19,23,29,31,37,41,43,47,53,59,61,67,71,73,79,83,89,97,

In [9]:
n=int(input("enter a number "))
sum=0
t=n
while(n>0):
    r=n%10
    sum=sum+r
    n=n//10
print("sum of digits of",t,"is",sum)

enter a number 199
sum of digits of 199 is 19

In [11]:
n=int(input("enter n value "))
sum=((n)*(n+1))//2
print(sum)

enter n value 3
6

In [18]:
n=int(input("enter a number "))
fact=1
for i in range(1,n+1):
    fact=fact*i
print('factorial of',n,'is',fact)

enter a number 90
factorial of 90 is 1485715964481761497309522733620825737885569961284688766942216863704985393094065876545992131370884059645617234469978112000000000000000000000

## STRINGS
  - set of characters
  -

In [1]:
dir(str)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [16]:
clg='i am a student'
clg[9:]
clg[::-1]

'tneduts a ma i'

In [17]:
clg='student'

In [37]:
clg='narsraopeta engineering college'
print(clg[:11],clg[24:])
print(clg[::-1])
print(clg.count('o'))
print(len(clg))
print(clg.isalpha())
print(clg.isalnum())

narsraopeta college
egelloc gnireenigne atepoarsran
2
31
False
False

In [55]:
s=input("enter a string ")
for i in s:
        if i.isdigit():
            print(i,end=',')
        if i.islower():
            print(i.upper(),end=',')
        if i.isupper():
            print(i.lower(),end=',')

enter a string rT4
R,t,4,

In [2]:
s=input("enter a string ")
print(s.title())
f=s.split()
t=f[0]
k=f[1]
print(k[0],t,sep='.')

enter a string chakri doredla
Chakri Doredla
d.chakri

In [4]:
help(ord)

Help on built-in function ord in module builtins:

ord(c, /)
    Return the Unicode code point for a one-character string.

## MODULES
   - a module is a software that has specific functionallity
   - it contains python statements and definations to do a particular task
   - modules are used to break large program into pieces
   - some modules are:
       - math.sqrt
       - math.pi

## PACKAGES
  - package is a collection of modules
  - some built in packages are:
      - math,numpy,sympy

In [2]:
from math import sqrt 
sqrt(16)

4.0

In [4]:
import random
def randnum(n,lb,ub):
    for i in range(0,n):
        print(random.randint(lb,ub),end=',')
randnum(20,1,100)

49,36,5,15,8,98,45,27,21,18,33,71,83,28,5,45,95,54,93,24,

## REGULAR EXPRESSIONS
  - []   represents a character
  - '*'  number of occurences 
  - '+'  number of occurences
  -  .   to match a character
  -  ?   for 0 or one occurences
  -  |   OR condition 
  - {}   Range set
  - ()   for enclosing

In [5]:
import re
def phonenumvalid(num):
    pattern='^[6-9][0-9]{9}$|^[0][6-9][0-9]{9}$|^[+91][6-9][0-9]{9}$'
    if re.match(pattern,str(num)):
        print('valid')
    else:
        print("in valid")
phonenumvalid(input("enter a number "))

enter a number +916302073925
in valid

In [7]:
import re
def emailvalid(mail):
    pattern='^[0-9a-z][a-z_0-9@]{4,18}[a-z]{4,7}[.][a-z]{2,4}$'
    if re.match(pattern,str(mail)):
        print('valid')
    else:
        print('in valid')
t=input("enter mail id ")
emailvalid(t)

enter mail id _lokiloki@gmail.com
in valid

## DATA STRUCTURES
  - list
    - denoted as list[]
  - tuple
    - denoted as tuple()
  - set
    - denoted by {}
  - dictionary
    - denoted as dict{}

### LISTS
  - collection of different or simillar data elements
  - data in list can be modified
  - represented by nameoflist[]
  - we can create a list using list()
  - list is mutable

In [1]:
li=[1,2,'hi','hello',67.6]
for i in li:
    if(type(i)==int):
        print(i)

1
2

In [5]:
li.append(99.90)
print(li)
print(li.count(1))

[1, 2, 'hi', 'hello', 67.6, 99.9, 99.9, 99.9]
1

In [6]:
li.pop()

99.9

In [8]:
li.remove(99.9)
print(li)

[1, 2, 'hi', 'hello', 67.6]

In [32]:
lin=['a','e','i','o','u',1,2,3]
li.append(lin)
print(li)

[1, 2, 'hi', 'hello', 67.6, 'a', 'e', 'i', 'o', 'u', ['a', 'e', 'i', 'o', 'u', 1, 2, 3]]

In [11]:
li.pop()

['a', 'e', 'i', 'o', 'u']

In [16]:
n='narsaraopeta engineering college'
for i in n:
    if(i=='a' or i=='e' or i=='i' or i=='o' or i== 'u'):
        li.append(i)
print(li)

[1, 2, 'hi', 'hello', 67.6, 'n', 'a', 'r', 's', 'a', 'r', 'a', 'o', 'p', 'e', 't', 'a', ' ', 'e', 'n', 'g', 'i', 'n', 'e', 'e', 'r', 'i', 'n', 'g', ' ', 'c', 'o', 'l', 'l', 'e', 'g', 'n', 'a', 'r', 's', 'a', 'r', 'a', 'o', 'p', 'e', 't', 'a', ' ', 'e', 'n', 'g', 'i', 'n', 'e', 'e', 'r', 'i', 'n', 'g', ' ', 'c', 'o', 'l', 'l', 'e', 'g', 'a', 'a', 'a', 'o', 'e', 'a', 'e', 'i', 'e', 'e', 'i', 'o', 'e', 'e']

In [20]:
l=['n', 'a', 'r', 's', 'a', 'r', 'a', 'o', 'p', 'e', 't', 'a', ' ', 'e', 'n', 'g', 'i', 'n', 'e', 'e', 'r', 'i', 'n', 'g', ' ', 'c', 'o', 'l', 'l', 'e']
for i in l:
    if(i in li):
        li.remove(i)
print(li)

[1, 2, 'hi', 'hello', 67.6]

In [25]:
li.append(99.90)

In [28]:
li.remove(99.90)

In [36]:
li

[1,
 2,
 'hi',
 'hello',
 67.6,
 'a',
 'e',
 'i',
 'o',
 'u',
 'a',
 'e',
 'i',
 'o',
 'u',
 1,
 2,
 3]

In [38]:
for i in lin:
    if(i in li):
        li.remove(i)
print(li)

['hi', 'hello', 67.6]

In [41]:
li.insert(3,'w')

In [44]:
li.index('w')
li
li.count('w')

2

In [45]:
for i in li:
    if(li.count(i)==1):
        print(i)

hi
hello
67.6

### TUPLE
  - simillar to list
  - tuple is immutable
  - represented with nameoftuple()
  - can be created using tuple()
  - only count and index methods are supported in tuple

In [47]:
t=('k',908,98.99,'int',True)
t

('k', 908, 98.99, 'int', True)

In [48]:
dir(tuple)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [54]:
l1=[1,2,3]
l2=[4,5,6]
for i in range(0,len(l1)):
    print(l1[i]+l2[i])

5
7
9

## SETS
  - simillar to lists
  - represented by nameofset{}
  - prints each element once even they are repeated

In [55]:
st={1,2,3,4,4,3,2,1}
print(st)

{1, 2, 3, 4}

In [56]:
dir(set)

['__and__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

In [60]:
s1={1,2,'o',3,4,5,'hi'}
s2={6,'u','hey',5,'u'}
print(s1.union(s2))
print(s1.intersection(s2))

{1, 2, 3, 4, 5, 6, 'u', 'o', 'hi', 'hey'}
{5}

## DICTIONARY
  - uses a pair called key,value to store data 
  - key is the reference to value
  - key is unique in nature
  - representation key:value 
  - key may be any or datatype

In [63]:
di={'a':1,'b':2,'c':3,'d':4}
print(di.keys())
print(di.values())

dict_keys(['a', 'b', 'c', 'd'])
dict_values([1, 2, 3, 4])

In [64]:
dir(dict)

['__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [66]:
di

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [67]:
di.popitem() # remove last item

('d', 4)

In [68]:
di

{'a': 1, 'b': 2, 'c': 3}

In [69]:
di.pop('b') # to remove a particular item

2

In [70]:
di['a']=23
di

{'a': 23, 'c': 3}

In [2]:
d={}
j=1
n=input("enter a string ")
for i in n:
    if ord(i)%2==0:
        d[j]=i;
    j=j+1
print(d)

enter a string nec
{1: 'n'}